.contactsBlock {

    background-color: white;
}

.titleBlock {
    min-height: 5vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.formBlock {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.form {
    min-width: 290px;
    display: flex;
    flex-direction: column;

}
.input {
    height: 40px;
    border: 1px solid #6C63FF;
    padding: 5px 10px;
    border-radius: 25px;
    margin: 10px;
    cursor: pointer;
    color: black;
}
.textArea {
    border: 1px solid #6C63FF;
    padding: 5px 10px;
    border-radius: 25px;
    resize: none;
}
.btnBlock {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.btn {
    border: none;
    padding: 15px 40px;
    border-radius: 25px;
    margin: 10px;
    cursor: pointer;
    background-color: #6C63FF;
    color: white;
}