.skillForm {
    display: flex;
    text-align: center;
    height: 100px;
    width: 100px;
}

.iconBlock {
    display: flex;
    justify-content: center;
}

.icon {
    height: 40px;
    margin: 10px 0;

}
.title {
    color: black;
}
.icon:hover {
    animation-duration: 30s;
    animation-name: slidein;
    overflow: hidden;
}
@keyframes slidein {
    from {
        margin-top: 10px;
    }
    to {
        margin-top: 40px;
    }
}