.skillsBlock {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}
@media only screen and (max-width: 600px) {
    .skillsBlock {
        text-align: center;
        justify-content: space-between
    }
}
