.generalBlock {
    display: flex;
    align-content: space-around;
    align-items: center;
    .mainBlock {
        background-color: white;
        flex: 2 1;

        .myBlock {
            span {
                font-size: 35px;
                font-weight: 400;
                &:nth-child(2) {
                    span {
                        font-size: 35px;
                    }
                }
            }
        }
    }
    .avatarBlock {
        z-index: 9999 !important;
    }

    .avatar {
        min-width: 200px;
        min-height: 240px;
        background-image: url("../common/images/me.jpg");
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: space-around;
        align-items: stretch;
        justify-content: space-around;


    }
    .line {

        border: 3px solid #6C63FF;
        min-width: 200px;
        min-height: 270px;
        position: relative;
        left: 213px;
        z-index: 0;
    }

    @media only screen and (max-width: 600px) {
        .text {
            text-align: center;
        }

        .generalBlock {
            display: flex;
            flex-direction: column;
        }
    }
    .text {
        font-weight: 400;
    }
    @media only screen and (max-width: 600px) {
        .title {
            text-align: center;
        }
    }
    @media only screen and (max-width: 600px) {
        .contactContainer {
            text-align: center;
        }
    }

    .photo {
        width: 300px;
        height: 400px;
        background-color: #fff;
        background-image: url("https://i.pinimg.com/564x/d7/f0/1d/d7f01dbc02b57391e8dfca47dea467ce.jpg");
        background-size: cover;
        background-position: center;
    }
    .icons {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: baseline;
        align-content: space-between;
        flex-wrap: nowrap;
    }
}
