.footer {
    background-color: #6C63FF;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    color: white;
    .privacy {
        padding: 20px;
        width: 40%;
        @media only screen and (max-width: 600px) {
            width: 100%;
        }
    }
}
