.footer {
    background-color: #6C63FF;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    color: white;
    .privacy {
        padding: 20px;
        width: 40%;
    }
}
