.remoteBlock {
    min-height: 10vh;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
}
.title {
    min-height: 5vh;
    border: 1px solid;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.btnBlock {
    display: flex;
    justify-content:center;
}
.btn {
    margin-top: 20px;
    width: 200px;
    height: 40px;
}
