.projectBlock {
    width: 49%;
    min-height: 500px;
    background-color: #fff;
}
.image {
    background-size: cover;
    background-position: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeGQ_1BKqZMLmv6pASiDRQCm4VMt0bmrRwYw&usqp=CAU");
}
.btn {
    width: 200px;
    height: 40px;
}
.btnBlock {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
p {
  font-weight: bold;
}
.red {
    border: 20px solid red;
}
