.projectsBlock {
    max-height: 100vh;
    background-color: #fff;
}
.titleBlock {
    min-height: 5vh;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.projectComponents {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}