.projectsBlock {
    background-color: #fff;
}
.titleBlock {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.projectComponents {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap
}

